* {
    padding: 0;
    margin: 0;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}



h2 {
    color: white;
}

h2,h3 {
    font-weight: 700;
}


html, body {
    background-color: hsl(218, 22%, 67%);
    font-size: 16px;
    height: 100%;
    font-family: 'Karla', sans-serif;
}

.aqua-text {
    color: hsl(179, 62%, 43%);
    padding-top: 20px;
}
.yellow-text {
    color: hsl(71, 73%, 54%);
    margin-top: 20px;
}
.upper-text {
    margin-top: 10px;
}

.container {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.74);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.upper {
    padding-left: 30px;
    background-color: white;
    width: 100%;
    height: 40%;
}



.left {
    position: relative;
    background-color: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%)
}

.right {
    background-color: rgb(50, 207, 207);
    color: hsl(204, 43%, 93%)
}

.right h3 , .left h3 {
    padding: 10px;
    padding-top: 20px;
}

ul {
    padding-left: 10px;
    list-style-type: none;
}
li {
    margin-bottom: 3px;
    opacity: 0.9;
    font-size: 0.9rem;
}


.payment {
    padding: 10px;
}

.payment span {
    font-weight: 700;
    font-size: 2rem;
    padding-right: 7px;
}

.left p {
    padding-left: 10px;
}

.left , .right {
    padding-left: 30px;
}

.left button {
    border-radius: 5px;
    background-color: yellow;
    color: gray;
    border: none;
    margin-left: 45%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%); 
    padding: 15px 0; /* Adjust the padding for the larger button */

}

.left button:hover {
    cursor: pointer;
    background-color: rgba(255,255,0,0.875);
    transform: translateX(-50%) scale(1.03);

}


@media (min-width: 625px) {

    .container {
        height: 400px;
        width: 600px;
    }
    
    .lower {
        display: flex;  
        height: 60%;  
    }

    .left , .right {
        flex: 50%;
    }

    .left button {
        margin-top: 10%;
    }

}